<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/tmp//aggregator.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
		<!-- Add below mentioned code to add data in json format -->
		<!-- <encoder class="net.logstash.logback.encoder.LogstashEncoder" /> -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/tmp/aggregator.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 50MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

	<appender name="ASYNCFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/tmp/aggregators.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{yyyy-MM-dd_HH-mm-ss} [%thread] %-5level %logger{36} -
				%msg%n
			</Pattern>
		</encoder>
		<!-- Add below mentioned code to add data in json format -->
		<!-- <encoder class="net.logstash.logback.encoder.LogstashEncoder" /> -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/tmp/aggregators.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 50MB -->
				<maxFileSize>1GB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

	</appender>

	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="ASYNCFILE" />
		<discardingThreshold>0</discardingThreshold>
		<queueSize>500</queueSize>
	</appender>

	<root level="ERROR">
		<appender-ref ref="ASYNC" />
	</root>

</configuration>
